*{
    margin: 0px;
    padding: 0px;
}

html{
    background-color: rgb(60, 60, 60);
    color: white;
    font-family: monospace;
    margin: 0px 0px 0px 0px; 
    height: 100%;
    overflow: auto;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

body h2{
    padding-top: 20px;
    color: rgb(86, 255, 94);
    font-size: 30px;
    margin-left: 30px;
}

body h3{
    color: rgb(214, 214, 214);
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 45px;
}

p{
    margin-left: 15px;
}

form{
    display: block;
    text-align: right;
    width: 440px;
    font-size: 15px;
    margin-left: 15px;
}

form fieldset{
    border: solid black;
    border-radius: 10px;
}

form input {
    background-color: black;
    border: solid 2px rgb(13, 65, 0);
    border-radius: 5px;
    color: green;
}

form button {
    background-color: black;
    border: solid 2px rgb(13, 65, 0);
    color: green;
    border-radius: 5px;
}

input{
    margin-right: 35px;
}

button[type="submit"]{
    width: 90px;
    height: 30px;
    margin-bottom: 15px;
    font-size: 15px;
    margin-right: 35px;
}

input:focus {
    border: 3px solid rgb(47, 197, 60);
}

form legend{
    font-size: 25px;
    text-align: center;
}

header{
    font-family: monospace;
    background-color: rgb(30, 30, 30);
    margin: 0px 0px 0px 0px;
}

.container{
    display: flex;
    flex-direction: column;
    height: 760px;
    width: 100%;
}

.container form{
    width: 91%;
    text-align: left;
    margin:0;
}

.container form input{
    width: 91%;
    padding: 0;
    margin: 0;
    margin-left: 20px;;
    height: 26px;
    background-color: black; 
    color: green;
    border: solid 2px rgb(13, 65, 0);
    border-radius: 5px;
}

.container form button{
    width: 6%;
    margin: 0;
    font-size: 15px;
    background-color: black;
    font-family: monospace;
    color: green;
    border: solid 2px rgb(13, 65, 0);
    border-radius: 5px;
}

.formerror {
    display: inline-block;
    padding: 0em 0.5em;
    border: 1px solid rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 4px;
}

.maininfo{
    display: block;
    float: left;
    margin-left: 40px;
    width: 900px;
}

.maininfo form{
    margin-top: 30px;
    width: 300px;
    text-align: center;
}

.maininfo #colorForm input{
    border-radius: 20px;
    background-color: rgb(86, 184, 91);
    border: black;
}

.side{
    display: block;
    float: right;
    margin-top: 25px;
    margin-right: 120px;
    width: 712px;
}

.sidesmall{
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 120px;
    margin-left: 0px;
    width: 40px;
}

.sidesmall form{
    display: block;
    float: right;
    margin-top: -500px;
    margin-right: 0px;
    width: 90%;
}

.sidesmall form input{
    margin: 0;
    width: 130px;
}

.activelink h3{
    color: green;
}

.sidesmall h3:hover{
    color: green;
}

.topbar{
    display: block;
    width: 100%;
    height: 26px;
    text-align: center;
    color: rgb(0, 200, 0);
    font-size: 28px; 
    text-decoration: None;
}

.topbar:hover{
    color: rgb(0, 255, 0);
}

.user:hover{
    color: rgb(0, 255, 0);
}

.toolbar{
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(45, 45, 45);
}

.toolbar a{
    display: inline-block;
    width: 150px; 
    height: 18px;
    padding: 8px;
}

#roombar{
    text-align: center;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgb(80, 80, 80);
}

#roombar li{
    display: inline-block;
    width: 200px;
    height: 16px;
    padding: 8px;
    text-align: center;
    font-size: 8px;
}

#roombar a{
    color: white;
    text-decoration: none;
}

#roombar a:hover{
    color: rgb(255, 255, 100);
}

.userN {
    color: rgb(137, 230, 137);
}

.tag {
    color: red;
}

.big h2{
    font-size: 35px; 
    margin-top: 45px;
    margin-bottom: 15px;
}

.big h3{
    font-size: 26px;
    margin-bottom: 60px;
}

.bigname h2{
    font-size: 25px; 
    margin-top: 0px;
    margin-bottom: 5px;
}

#active h1{
    color: rgb(255, 255, 100)
}

.active{
    background-color: rgba(9, 255, 0, 0.212);
}

.active h1{
    color: white;
}

#users{
    display: inline-block;
    margin-left: 30%;
}

#profil {
    margin-left: 15%;
    width: 500px;
    border: solid 3px rgb(95, 95, 95);
    border-radius: 30px;
}

.paging {
    margin-top: 1em;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgb(133, 133, 133);
    width: 14em;
    height: 1.5em;
    border-radius: 25px;
    text-align: center;
}

.paging li{
    display: inline-block;
    width: 1em;
    height: 16px;
    padding: 0px;
    text-align: center;
    font-size: 1em;
}

.paging a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#links-right a{ 
    float: right;
    text-align: center;
    color: rgb(0, 150, 0);
    font-size: 11px;
    text-decoration: None;
    padding-top: 0px;
    border-left-style: solid;
    border-color: white;
    border-width: 2px;
}

#links-right a:hover{
    color: rgb(0, 255, 0);
}

#links-left #pseudo-links-right{ 
    float: right;
    text-align: center;
    color: rgb(0, 150, 0);
    font-size: 11px;
    text-decoration: None;
    padding-top: 0px;
    border-left-style: solid;
    border-right-style: none;
    border-color: white;
    border-width: 2px;
}

#links-left #pseudo-links-right:hover{
    color: rgb(0, 255, 0);
}

#links-left a{ 
    float: left;
    text-align: center;
    color: rgb(0, 150, 0);
    font-size: 11px;
    text-decoration: None;
    padding-top: 0px;
    border-right-style: solid;
    border-color: white;
    border-width: 2px;
}

#links-left a:hover{
    color: rgb(0, 255, 0);
}

#chatwindow{
    height: 700px;
    width: 90%;
    margin-left: 20px;
    display: block;
    overflow: auto;
    background-color: rgb(44, 44, 44);
}

footer{
    margin-top: 30px;
    height: 30px;
    background-color: black;
    display: none;
}

.hidden{
    display: none; 
}

/* day skin */

.day html{
    background-color: rgb(209, 214, 142);
    color: rgb(0, 0, 0); 
}

.day body{
    color: rgb(0, 0, 0);
    background-color: rgb(161, 199, 230);
}

.day body h2{
    color: rgb(0, 26, 143);
}

.day body h3{
    color: rgb(0, 0, 0);
}

.day form{
    color: rgb(14, 23, 102);
}

.day form fieldset{
    border: solid rgb(211, 255, 107);
}

.day form input {
    background-color: rgb(197, 195, 87);
    border: solid 2px rgb(0, 4, 65);
}

.day form button {
    background-color: rgb(197, 195, 87);
    border: solid 2px rgb(0, 4, 65);
    color: rgb(10, 35, 92);
}

.day input:focus {
    border: 3px solid rgb(0, 148, 185);
}

.day header{
    background-color: rgb(123, 172, 246);
}

.day .maininfo #colorForm input{
    border-radius: 20px;
    background-color: rgb(255, 241, 112);
    border: black;
}

.day .container form input{
    background-color: rgb(116, 189, 122); 
    color: rgb(0, 0, 0);
    border-color: rgb(96, 170, 86);
}

.day .container form button{
    background-color: rgb(116, 189, 122);
    color: rgb(0, 0, 0);
    border-color: rgb(96, 170, 86);
}

.day .formerror {
    border: 1px solid rgb(255, 0, 0);
    background-color: rgba(238, 124, 124, 0.726);
}

.day .activelink h3{
    color: rgb(168, 255, 168);
}

.day .sidesmall h3:hover{
    color: green;
}

.day .topbar{
    color: rgb(0, 36, 119);
}

.day .topbar:hover{
    color: rgb(255, 255, 0);
}

.day .user:hover{
    color: rgb(0, 255, 0);
}

.day .toolbar{
    background-color: rgb(0, 3, 172);
}

.day .ban {
    color: rgb(255, 0, 0);
}

.day .paging {
    background-color: rgb(179, 182, 26);
}

.day .paging a{
    color: rgb(0, 0, 0);
}

.day #profil {
    border-color: rgb(14, 64, 145);
}

.day #roombar{
    background-color: rgb(0, 42, 109);
    color: white;
}

.day #roombar a{
    color: rgb(255, 255, 255);
}

.day #roombar a:hover{
    color: rgb(255, 255, 0);
}

.day .tag {
    color: rgb(160, 18, 18);
}

.day #active h1{
    color: rgb(255, 255, 100)
}

.day .active{
    background-color: rgba(229, 255, 0, 0.616);
}

.day .paging .active{
    background-color: rgb(36, 97, 155);
    border-radius: 0.5em;
    color: white;
}

.day .active h1{
    color: rgb(0, 0, 0);
}

.day #links-right{ 
    color: rgb(251, 255, 0);
    border-color: white;
}

.day #links-left{
    color: rgb(251, 255, 0);
    border-color: white;
}

.day #chatwindow{
    background-color: rgb(248, 223, 182);
    color: rgb(11, 49, 138);
}

.day footer{
    background-color: rgb(197, 191, 110);
}

/* media querries */

@media screen and (max-width: 1788px){

    .maininfo{
        display: flex;
        flex-grow: 1;
        margin-left: 20%;
        float: none;
    }

    .maininfo form{
        margin-top: 30px;
        width: 300px;
        text-align: none;
    }

    .maininfo #colorForm input{
        border-radius: 20px;
        background-color: rgb(86, 184, 91);
        border: black;
    }

    .side{
        display: flex;
        flex-grow: 1;
        margin-top: 20px;
        margin-left: 25%;
        float: none;
    }

    #profil {
        width: 100%;
        margin-left:0;
        float: none;
        text-align: center;
    }

    #profil #skinForm{
        width: 100%;
        margin-left: 2%;
        float: none;
        text-align: center;
    }
    
    #profil #colorForm{
        width: 100%;
        margin-left: 3%;
        float: none;
        text-align: center;
    }

    .side form{
        width: 80%;
        margin-left: 20%;
        float: none;
        text-align: center;
    }

    .container form{
        width: 92%;
    }
    
    .container form input{
        width: 91%;
    }
    
    .container form button{
        width: 6%;
    }

    .sidesmall{
        margin-left: 36%;
        display: flex;
        float: none;
        margin-top: 20px;
        text-align: center;
        width: 450px;;
    }
    
    .sidesmall form{
        display: block;
        float: none;
        text-align: center;
        margin-top: 0;
        margin-right: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 1444px) {

    .maininfo{
        display: flex;
        flex-grow: 1;
        margin-left: 14%;
        float: none;
    }

    .side{
        display: flex;
        flex-grow: 1;
        margin-top: 20px;
        margin-left: 20%;
        float: none;
    }

    .side form{
        width: 80%;
        margin-left: 15%;
        float: none;
        text-align: center;
    
    }

    .container form{
        width: 92%;
    }
    
    .container form input{
        width: 90%;
    }
    
    .container form button{
        width: 6%;
    }
}

@media screen and (max-width: 1200px) {

    .maininfo{
        display: flex;
        flex-grow: 1;
        margin-left: 10%;
        float: none;
    }

    .side{
        display: flex;
        flex-grow: 1;
        margin-top: 20px;
        margin-left: 16%;
        float: none;
    }

}

@media screen and (max-width: 1090px) {

    .maininfo{
        display: flex;
        flex-grow: 1;
        margin-left: 20px;
        float: none;
    }

    .side{
        display: flex;
        flex-grow: 1;
        margin-top: 20px;
        margin-left: 90px;
        float: none;
    }

    .container form{
        width: 92%;
    }
    
    .container form input{
        width: 85%;
    }
    
    .container form button{
        width: 10%;
    }

    .tag {
        display: none;
    }

    .sidesmall{
        display: none;
    }

}

@media screen and (max-width: 940px) {

    .maininfo{
        display: flex;
        flex-grow: 1;
        margin-left: 20%;
        float: none;
        width: 450px;
    }

    .side{
        display: flex;
        flex-grow: 1;
        margin-top: 20px;
        margin-left: 20%;
        float: none;
        width: 450px;
    }

    .side iframe{
        width: 450px;
        height: 252px;
    }

    .container form{
        width: 92%;
    }
    
    .container form input{
        width: 84%;
    }
    
    .container form button{
        width: 10%;
    }

}

@media screen and (max-width: 700px) {

    .maininfo{
        display: flex;
        flex-grow: 1;
        margin-left: 10%;
        float: none;
        width: 450px;
    }

    .side{
        display: flex;
        flex-grow: 1;
        margin-top: 20px;
        margin-left: 10%;
        float: none;
        width: 450px;
    }

    .side iframe{
        width: 450px;
        height: 252px;
    }

    .container form{
        width: 92%;
    }
    
    .container form input{
        width: 80%;
    }
    
    .container form button{
        width: 13%;
    }

}

@media screen and (max-width: 580px) {

    .maininfo{
        display: flex;
        flex-grow: 1;
        margin-left: 0;
        float: none;
        width: 450px;
    }

    .side{
        display: flex;
        flex-grow: 1;
        margin-top: 20px;
        margin-left: 60px;;
        float: none;
        width: 350px;
    }

    .side iframe{
        width: 300px;
        height: 190px;
    }

    .toolbar a{
        display: block;
        text-align: center;
        width: 100%; 
        height: 18px;
        padding: 8px;
    }
     
    #roombar li{
        display: block;
        width: 100%;
        height: 16px;
        padding: 8px;
        text-align: center;
        font-size: 8px;
    }

    #roombar {
        text-align: center;
    }

    #links-right{ 
        display: block;
        float: none;
        border-left-style: none;
    }
    
    #links-left{ 
        display: block;
        float: none;
        border-right-style: none;
    }
    
    .side form{
        width: 80%;
        margin-left: 10%;
        float: none;
        text-align: center;
    
    }

    .container form{
        width: 92%;
    }
    
    .container form input{
        width: 75%;
    }
    
    .container form button{
        width: 14%;
    }
    
}

@media screen and (max-width: 450px) {

    .maininfo{
        display: flex;
        flex-grow: 1;
        margin-left: 10%;
        float: none;
        width: 250px;
    }

    .side{
        display: flex;
        flex-grow: 1;
        margin-top: 20px;
        margin-left: 10%;
        float: none;
        width: 250px;
    }

    .side iframe{
        display: none;
    }

}